{% extends 'base.html' %}

{% block title %}
<h2>Cars list. All in database: {{ cars_list.count }}</h2>
{% endblock %}

{% block content %}
{% if cars_list.all %}
<div class="row">
    {% for car in cars_list.all %}
    <div class="col-xs-4 col-lg-4">
        <h2>{{ car.name }}</h2>
        <h4>{{ car.desc }}</h4>
        <h4>{{ car.price }}</h4>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No cars, sorry</p>
{% endif %}
{% endblock %}